body{
    background-color: rgb(116, 168, 169);
}

header {
    background-color:rgb(45, 44, 44);
    padding: 20px;
    text-align: center;
}

header a {
    color:beige;
    text-decoration: none;
    margin: 0 10px;
}

h1{
    text-align: center;
}

.post,.list {
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    background-color:rgb(191, 154, 161);
    font-size:medium;
    margin-left: 10%;
    margin-right: 10%;
}
